<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<title>Jazmines-Web	En Construccion	</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}" />
</head>
<body background="{% static 'images/brick.jpg'%}" style="background-size:cover; background-attachment: fixed;">

<div class="w3-container  w3-display-middle w3-padding-top w3-center">
    <div class="w3-row-padding">
        <h1  class="w3-text-white " style="font-size: 3.5em; font-family: Verdana;" ><b>Pagina en construccion</b></h1>
        <div class="w3-btn w3-large  w3-margin w3-green">
            <a style="text-decoration: none" href="{% url 'index' %}"> <p> Ir a exequiales los jazmines</p></a>
        </div>
    </div>

</div>
</body>
</html>