<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Branded Login Form Responsive Widget Template :: w3layouts</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Branded Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="{% static 'css_login/style_login.css' %}" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" href="{% static 'css_login/font-awesome.css' %}"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="{% static 'css_login/w3_login.css' %}"> <!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- //online-fonts -->

</head>
<body background="{% static 'css_login/images/fuente.jpg' %}">
<div class="w3-agile-banner">

	<div class="center-container">
		<!--header-->
		<div class="header-w3l">
			<h1>"lo que hacemos por los demas es inolvidable"</h1>
		</div>
		<!--//header-->
		<!--main-->
		<div class="main-content-agile">
			<div class="wthree-pro">
				<h1><a><img class="logo" src="{% static 'css_login/images/jazmines.jpg' %} " style="width: 300px; height: auto; "></a></h1>
			</div>
			<div class="sub-main-w3">
				<div class="alerts">
					{% if messages  %}
					    {% for message in messages %}
					        <div class="alert alert-danger fade in">
					            <a href="#" class="close" data-dismiss="alert">&times;</a>
					            <strong>Error!</strong> {{message}}.
					        </div>
					    {% endfor %}
					{% endif %}
				</div>
				<form action="" method="post">
					{% csrf_token %}
					<input id="id_usuario " placeholder="usuario" name="entrarusuario" type="password" required="" content="" >
					<input id="id_contraseña" placeholder="password" name="Password" type="password" required="" >
					<div class="rem-w3">
						<span class="check-w3"><input type="checkbox" />Recuerdame</span>
						<a class="w3-pass" href="#"></a>
						<div class="clear"></div>
					</div>
					<div class="w3-head-continue">
						<h4></h4>
					</div>
					<div class="navbar-right social-icons">

						</div>
					<input type="submit" value="acceder" class="w3-left">

				</form>
                <a href="{% url 'index' %}"> <button class="w3-button w3-right w3-green w3-border "
                                    >regresar</button></a>
			</div>
		</div>
		<!--//main-->
		<!--footer-->
		<div class="footer">

		</div>
		<!--//footer-->
	</div>
</div>
</body>
</html>
